.FeturedItems {
  margin-top: 65px;
  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.8px;
    text-align: center;
  }
  &__text {
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #9f9f9f;
  }
  &__link{
    font-size: 16px;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    width: 212px;
    height: 47px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 19px;
    padding-left: 24px;
    letter-spacing: .4px;
    color: #fff;
    background-color: #f16d7f;
    margin-top: 14px;

    i{
      padding-right: 15px;
      padding-left: 9px;
    }

  }


  .product {
    display: flex;
    flex-wrap: wrap
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    margin-top: 60px;

    &__item {
      position: relative;
      width: 261px;
      height: 364px;
      margin-bottom: 40px;
    }
    &__text {
      font-size: 13px;
      margin-top: 15px;
      padding-left: 15px;
      text-align: left;
      text-transform: uppercase;

    }
    &__price {
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
      padding-left: 15px;
      text-align: left;
      color: #f16d7f;
    }
    &__shadow {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 261px;
      height: 279px;
      background-color: rgba(0, 0, 0, 0.5);
    }
    &__btn {
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
      width: 123px;
      height: 39px;
      border: solid 1px #ffffff;
      display: block;
      margin: 0 auto;
      margin-top: 110px;
      cursor: pointer
    }

    &__item:hover {
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
    }

    &__item:hover .product__shadow {
      display: block
    }
  }



}
