.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content center;
  align-items: center;
  height: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  border: solid 1px rgb(236, 236, 236);
  position: relative
  .logo {
    display: flex;
    flex-wrap: nowrap;
    img {
      width: 59px;
      height: 51px;
    }

    &__text {
      padding-top: 15px;
      text-transform uppercase;
      width: 93px;
      height: 19px;
      font-family: Lato;
      font-size: 27px;
      font-weight: 300;
      line-height: 1.19;
      letter-spacing: 0.7px;
      text-align: center;
      color: rgb(34, 34, 34);
      span {
        color: rgb(241, 109, 127);
      }
    }
  }
  .search {
    padding-left: 37px;
    width: 403px;
    position: relative
    &__where {
      width: 87px;
      height: 38px;
      background-image: linear-gradient(to bottom, rgb(249, 249, 249), rgb(245, 245, 245));
      border: solid 1px rgb(230, 230, 230);
      vertical-align: middle;

    }
    .fa.fa-sort-desc {
      width: 9px;
      height: 6px;
      font-family: FontAwesome;
      font-size: 14px;
      line-height: 2.29;
      letter-spacing: 0.4px;
      text-align: right;
      color: rgb(131, 131, 131);
    }
    &__input{
      width: 317px;
      height: 10px;
      font-family: Lato;
      font-size: 14px;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 16px;
      font-weight: 300;
      line-height: 2.29;
      letter-spacing: 0.4px;
      color: rgb(164, 164, 164);
      background-color: rgb(255, 255, 255);
      border: solid 1px rgb(230, 230, 230);
    }
    &__search-btn{
      height: 37px;
      width: 37px;
      position: absolute;
      right: 0;

      .fa.fa-search {
        width: 14px;
        height: 14px;
        font-family: FontAwesome;
        font-size: 14px;
        line-height: 2.29;
        letter-spacing: 0.4px;
        text-align: right;
        color: rgb(164, 164, 164);
      }
    }
  }
  .account{
    padding-left: 349px;

    .cls-1{
      width: 32px;
      height: 29px;
      fill: rgb(34, 34, 34);
    }
    &__btn{
      width: 130px;
      height: 38px;
      background-color: rgb(241, 109, 127);

    }
  }
  .menu{
    position: absolute;
    bottom: -51px;
    width: 1600px;
    height: 51px;
    background-color: rgb(255, 255, 255);
    &__list{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      padding-top: 20px;
      width: 680px;
      margin: 0 auto;

    }
    &__item{
      width: 680px;
      height: 10px;
      font-family: Lato;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.86;
      text-align: left;
      color: rgb(34, 34, 34);
      text-transform uppercase;
      margin 0 10px;
      a{
        display: block;
      }
    }
  }
}