
.lk{
  &__title{

      a{
        display block
        padding-top: 13px;
        padding-bottom: 11px;
        padding-left:19px;
        width: 82px;
        height: 14px;
        font-family: Lato;
        font-size: 15px;
        letter-spacing: 0.4px;
        text-align: right;
        color: #fff;
      }

  }

  &__menu{
    display: none;
    width: 350px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rosy-pink;
    position: absolute;
    li{
      margin-left: 10px;
    }
    div{
      font-weight 700;
      text-decoration underline;
      margin-bottom: 5px;
    }


  }

}

.header__account:hover .lk__menu{
   display: block;
 }