.newArrivals {
  height: 148px
  background-color pale-grey
  &__wrap {
    max-width: 1140px;
    display: flex
    flex-wrap nowrap;
    justify-content: space-between
    align-items: center;
    height: 100%
    margin: 0 auto

  }
  &__title {
    p {
      font-size 24px
      font-weight 900
      line-height 0.83
      color rosy-pink;
      text-transform: uppercase;
    }
  }
  &__menu-item {
    font-size 14px
    font-weight 300
    line-height 1.43
    text-transform: uppercase;
    &--pink {
      font-weight bold
      color rosy-pink
    }
  }

}