.productProduction {
  padding-bottom: 110px;
  padding-top: 50px;

  &__wrap {

    wrapper()
  }
  &__row {
    row-flex()
  }
  &__nav {
    col()
    col-3()

  }
  .productNav {
    &__checkbox {
      display: none;
    }

    &__label {
      padding-left: 30px;
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 14px;
      font-weight: bold;
      color: medium-pink;
      position: relative
      text-transform: uppercase;
      display: block;
      border-bottom: solid 1px #ebebeb;
      box-sizing border-box;

      .fa {
        position: absolute;
        right: 18px;
        color: brownish-grey;
      }

    }
    &__label:before {
      display: block;
      content: " ";
      width: 5px;
      height: 37px;
      background-color: medium-pink;
      position: absolute;
      top: 7px;
      left: 14px;
    }

    &__list {
      margin-left: 16px;
      overflow hidden;
      height: 0;
      transition: all 1s;
      margin-top: 0;
      margin-bottom: 0;
    }
    &__item {

      a {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;
        color: brownish-grey;
        box-sizing: border-box
      }
      a:hover {
        padding-bottom: 7px;
        border-bottom: 1px solid medium-pink;
      }

    }

  }
  input:checked + label + .productNav__list {
    height: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 33px;

  }
  input:checked + label > .fa {
    transform rotate(180deg);
    color: medium-pink;
  }

  &__main {
    col()
    col-9()
    padding-top: 10px;

  }
  .productSort {
    display: flex;
    margin-bottom: 40px;
    &__item {
      col()
      col-4()
    }

    .trend {
      &__title {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: brownish-grey;
        padding-top: 15px;
        text-transform: uppercase
      }
      &__list {
        display: flex;
        width: 190px;
        flex-wrap: wrap;
      }
      &__item {
        padding-left: 10px;
        padding-right 10px;
        border-left: 1px solid #f7f7f7;
        border-right: 1px solid #f7f7f7;

      }
      &__item:nth-child(1) {
        padding-left: 0;
        border-left: none

      }

      &__item:nth-child(3) {
        padding-right: 0;
        border-right: none;
      }
      &__item:nth-child(4) {
        padding-left: 0;
        border-left: none
      }

      &__item:nth-child(6) {
        padding-right: 0;
        border-right: none;
      }

    }

    .size {
      &__title {
        font-size: 14px;
        font-weight: bold;
        color: $brownish-grey;
        text-transform: uppercase
      }
      &__list {
        width: 240px;
        display: flex;
        flex-wrap wrap
      }
      &__item {
        padding-right: 20px;
        padding-bottom: 10px;

      }
      &__label {
        input {
          margin-right: 5px;
          background-color: #fff
          border solid 1px #ebebeb

        }
        input:focus {
          outline none;
        }
      }
    }
    &__price {
      .slider {
        &__val {
          display: flex;
          justify-content: space-between;
          flex-wrap nowrap;
        }
        &__title {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          padding-bottom: 20px;
        }

      }

    }
  }

  &__sort {
    display: flex;
    height: 50px;
    background-color: #f3f3f3;
    margin-bottom 50px;
    &Wrap {
      col();
      col-12();
      display: flex;
      flex-wrap: nowrap;
    }

    input {
      font-size: 14px;
      padding: 10px;
      height: 30px;
    }
    .sortBy {
      display: flex
      flex-wrap: nowrap;
      height: 30px;
      border: solid 1px #ebebeb;
      background-color: white;
      margin-top: 10px;
      margin-left: 10px;
      box-sizing border-box
      &__text {
        width: 65px;
        box-sizing border-box
        font-size: 14px;
        text-align: center;
        padding-top: 5px;
        border-right solid 1px #ebebeb;

      }
      select {
        border none;
      }
      select:focus, select:hover, select:active {
        outline none;
      }
    }
    .show {
      display: flex
      flex-wrap: nowrap;
      height: 30px;
      border: solid 1px #ebebeb;
      background-color: white;
      margin-top: 10px;
      box-sizing border-box
      margin-left: 10px;
      &__text {
        width: 65px;
        box-sizing border-box
        font-size: 14px;
        text-align: center;
        padding-top: 5px;
        border-right solid 1px #ebebeb;
      }
      select {
        border none;
      }
      select:focus, select:hover, select:active {
        outline none;
      }
    }

  }
  .result {
    row-flex();
    &__item {
      col()
      col-4()
      margin-bottom: 60px;
      position: relative

    }
    &__img {
      width: 100%
    }
    &__text {
      margin-top 10px;
      margin-left: 10px;
      a {
        display: block
        padding 5px;
        font-size: 13px;
        text-transform: uppercase
        color: brownish-grey;

      }
    }
    &__price {
      margin-left: 5px;
      margin-top: 5px;
      font-size: 16px;
      font-weight: bold;
      color: rosy-pink;
    }
    &__shadow {
      display: none;
      justify-content: center
      position: absolute;
      top: 0;
      left: 0;
      width: 100%
      height: 287px;
      background-color: rgba(0, 0, 0, 0.5);

    }
    &__shadow--wrap {
      display: flex;
      flex-direction: row;
      margin: 110px 70px 0 70px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__btn {
      background-color: rgba(0, 0, 0, 0);
      color: white;
      border: solid 1px #fff;
      cursor: pointer
      padding: 10px;
      height: 37px;

      &--12 {
        max-width: 60px;
        display: inline-block
      }
      &--heart {
        max-width: 60px;
        display: inline-block
      }
    }

    &__item:hover {
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
    }

    &__item:hover .result__shadow {
      display: flex
    }
  }

  .pagination {
    row-flex();
    justify-content(space-between);
    &__list {
      col();
      col-4();
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 15px;
      padding-left: 15px;

      .disabled {
        cursor: default
        color #aaaaaa
      }
      .current {
        color medium-pink
      }

    }
    &__item {
      font-size 16px
      color pinkish-grey
    }
    &__viewAll {
      col();
      width: auto
      padding: 13px 47px;
      font-size 16px
      font-weight 300
      color medium-pink
      border-radius 3px
      background-color white
      border solid 1px medium-pink
    }

  }

}