.sales {
  width:  1140px;
  margin: 0 auto;
  margin-top:  113px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &__img {
    position: relative
    width: 767px;
    height: 529px;
    background-image: url(../img/sales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

  }

  &__img-text {
    position: absolute;
    width: 293px;
    height: 78px;
    top: 146px;
    left: 40px;
    &--big {
      font-size: 53.6px;
      letter-spacing: 1.3px;
      font-weight: bold;
    }
    &--pink {
      color: #f16d7f;
    }
    &--small {
      font-size: 32.2px;
      font-weight: bold;
    }
  }

}