.sales {
  width: 1140px;
  margin: 0 auto;
  margin-top: 113px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &__img {
    position: relative
    width: 767px;
    height: 529px;
    background-image: url(../img/sales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

  }

  &__img-text {
    position: absolute;
    width: 293px;
    height: 78px;
    top: 146px;
    left: 40px;
    color: #fff;
    &--big {
      font-size: 53.6px;
      letter-spacing: 1.3px;
      font-weight: bold;
    }
    &--pink {
      color: #f16d7f;
    }
    &--small {
      font-size: 32.2px;
      font-weight: bold;
    }
  }

}

.benefit {
  &__title{
    font-size:21px;
    font-weight: 900;
  }
    &__text{
      font-size: 14px;
      font-weight: 300;
      margin-top: 10px;
      line-height: 2.0;
    }




  &__list {
    padding-top:  10px;
    width: 375px;
    height: 519px;
    background-color: #222224

  }
  &__item {
    width: 225px;
    position: relative;
    margin-left:110px;
    margin-top: 40px;
    color: #fff
  }
  &__img {
    position: absolute;
    top: 0;
    left: -75px;
    background-repeat: no-repeat;
    &--delivery {
      width: 50px;
      height: 40px;
      background-image: url(../img/Forma_2.svg)
    }
    &--sales {
      background-image: url(../img/Forma_3.svg)
      width: 40px;
      height: 40px;

    }
    &--quality {
      background-image: url(../img/Forma_1.svg)
      width: 50px;
      height: 40px;
     }
  }
}

