.slider {

  &__img {
    height: 665px;

    background-color: #e8e8e8;

  }
  &__wrap {
    max-width: 1080px;
    margin: 0 auto;
    background-image: url(../img/banner.jpg);
    background-repeat no-repeat;
    background-position: bottom right;
    background-size: 561px 610px;
    height:100%;
  }
  &__text:before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    bottom: 10px;
    left: 0;

  }
  &__text {
    padding-top: 276px;
    position: relative;
    padding-left 24px;
    &--big {
      font-size: 60px;
    }
    &--small {
      font-size: 40px;

    }
    &--pinc {
      color: #f16d7f;
    }
  }
}