.slider {
  background-color: #e8e8e8;


  &__wrap {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap nowrap;
    justify-content: left;
  }
  &__text:before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: rosy-pink;
    position: absolute;
    top: 20px;
    left: 0;

  }
  &__text {
    margin-top: 205px;
    position: relative;
    padding-left 24px;
    letter-spacing: 1.5px;
    &--big {
      font-size: 60px;
    }
    &--small {
      font-size: 40px;

    }
    &--pink {
      color: rosy-pink;
    }
  }
  &__view {
    width: 600px;
    height: 655px;
    overflow: hidden;
    position: relative;
  }

  &__img{
    position: absolute;
    left: 0;
    top: 0;
    height: 655px;
    margin: 0;
    padding: 0;
  }
  .slide {
    width: 600px;
    height: 655px;
    float: left;
  }
}