.storeBenefits{
  height 340px
  background-color #222224
  &__wrap{
    width: 1180px;
    margin: 0 auto;
  }
  &__list{
    display: flex;
    justify-content: space-around;
    flex-wrap nowrap;

  }
  &__item{
    width: 360px
    margin-top: 90px;
    text-align: center;
  }

  &__title{

    font-size 20px
    font-weight bold
    letter-spacing 0.5px
    text-align center
    color #fbfbfb
    &--delivery{
      margin-top: 32px;
    }
    &--sales{
      margin-top: 23px;
    }
    &--quality{
      margin-top: 29px;
    }
  }
  &__text{
    margin-top:  15px;
    font-size 14px
    font-weight 300
    line-height 1.71
    letter-spacing 0.3px
    text-align center
    color #fbfbfb
  }



}