@import "../node_modules/nib";
@import "nib/normalize";
@import 'nib/gradients';
@import "smart-grid.styl";
@import "mixin.styl";
//@import "fonts.styl";
@import "global.styl";

//хедер
@import "__block/header.styl";
@import "__block/card.styl";
@import "__block/search.styl";
@import "__block/sub-nav.styl";

//главная
@import "__block/slider.styl";
@import "__block/main-category.styl";
@import "__block/Fetured.styl";
@import "__block/sales.styl";

//чекаут
@import "__block/newArrivals.styl";
@import "__block/delivery.styl";

//шопинг


//сингл


//продукт
@import "__block/storeBenefits.styl";
@import "__block/productProduction.styl";



//футер
@import "__block/feetback.styl";
@import "__block/footer.styl";






