@import "../node_modules/nib";
@import "nib/normalize";
@import 'nib/gradients';
@import "smart-grid.styl";
@import "mixin.styl";
//@import "fonts.styl";
@import "global.styl";

//js
@import "__js/jquery-ui.css";
@import "__js/jquery-ui.structure.css";
@import "__js/jquery-ui.theme.css";
@import "__js/classic.css";

//хедер
@import "__block/header.styl";
@import "__block/card.styl";
@import "__block/search.styl";
@import "__block/sub-nav.styl";

//главная
@import "__block/slider.styl";
@import "__block/main-category.styl";
@import "__block/Fetured.styl";

@import "__block/sales.styl";

//чекаут
@import "__block/newArrivals.styl";
@import "__block/delivery.styl";

//шопинг
@import "__block/shopping__cart.styl";


//сингл


//продукт
@import "__block/storeBenefits.styl";
@import "__block/productProduction.styl";



//футер
@import "__block/feetback.styl";
@import "__block/footer.styl";






